<% layout("/layouts/boilerplate") -%>


    <h3>All Listings</h3>
    <!-- <form action="/listings/new" method="get">
        <button>Create New Listings</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm">
      <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
          <div class="card col listing-card">
            <img
              src="<%= listing.image && listing.image.url ? listing.image.url : 'https://images.unsplash.com/photo-1496483648148-47c686dc86a8' %>"
              class="card-img-top" alt="listing_image" style="height: 20rem;">
            <div class="card-img-overlay">
            </div>
            <div class="card-body">
              <p class="card-text">
                <b>
                  <%= listing.title %>
                </b><br>
                <%= listing.price ? listing.price.toLocaleString("en-IN") : "Price not available" %> / night

              </p>
            </div>
          </div>
        </a>
        <% } %>

    </div>

  