<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create a New Listing</h3>
    <form action="/listings" method="post">
        <!-- Change to listing[title] -->
        <input type="text" name="listing[title]" placeholder="Enter title" required>
        <br><br>
        <!-- Change to listing[description] -->
        <textarea name="listing[description]" placeholder="Enter description"></textarea>
        <br><br>
        <!-- Change to listing[image] -->
        <input type="text" name="listing[image]" placeholder="Enter image URL/Link">
        <br><br>
        <!-- Change to listing[price] -->
        <input type="number" name="listing[price]" placeholder="Enter Price">
        <br><br>
        <!-- Change to listing[country] -->
        <input type="text" name="listing[country]" placeholder="Enter country">
        <br><br>
        <!-- Change to listing[location] -->
        <input type="text" name="listing[location]" placeholder="Enter location">
        <br><br>
        
        <button type="submit">Add</button>
    </form>
</body>
</html>
