<% layout("/layouts/boilerplate") -%>

    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <br><br>
        <h3>Create a New Listing</h3>
        <form action="/listings" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="Enter title" required class="form-control">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input type="text" name="listing[image]" placeholder="Enter image URL/Link" class="form-control">
            </div>

            <div class="row">
            <div class="mb-3 col-md-4" >
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" placeholder="Enter Price" class="form-control">
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" placeholder="Enter country" class="form-control">
            </div>
        </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="Enter location" class="form-control">

            </div>
            <button type="submit" class="btn btn-dark add-btn mt-3">Add</button>
            <br><br><br>
        </form>
    </div>
    </div>